<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha sua Opção</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/escolhaconv.css') }}">
</head>
<body>
    <div class="barra-superior">
        <h2>IBCD Jovens</h2>
    </div>
    
    <div class="container">
        <div class="card">
            <h1>Que prazer ter você por aqui! mas pera..</h1>
            <p class = "pascal">Você sabe Chegar na Nossa Igreja ?</p>
            <p></p>
            <div class="button-container">
                <button class="btn convidado" onclick="window.location.href='/comeca'">Sim 😁</button>
                <button class="btn membro" onclick="window.location.href='/igreja'">Não 😒</button>
            </div>
        </div>
    </div>

    <div class="barra-inferior">
        <p>&copy; 2024 IBCD Jovens | Todos os direitos reservados</p>
    </div>
</body>
</html>
