<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script defer src="javascript/login.js"></script>

    <title>Login Admin</title>
</head>
<body>
    <form action="/login" method="POST" id="login-form">
        <h2>Restrito</h2>
        <label for="usuario">Usuário:</label>
        <input type="text" id="usuario" name="usuario" required>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>

        <!-- Link estilizado como botão -->
        <a href="/admin" class="btn">Entrar</a>
    </form>
</body>
</html>
