<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento - Acampamento Cristão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagamento.css') }}">
</head>
<body>
    <header>
        <h1>Pagamento Acampamento</h1>
    </header>

    <section>
        <h2>Finalize sua Inscrição</h2>
        <p>O valor do acampamento é R$ 150,00. Clique no botão abaixo para fazer o pagamento:</p>

        <a href="{{ link_pagamento }}" class="btn">Pagar Agora</a>


        <div id="pagamentoStatus"></div>
        
        <div id="qrCodeContainer"></div>
        <div id="copiaColaContainer"></div>
    </section>

    <footer>
        <p>&copy; 2024 Acampamento IBCD </p>
    </footer>

    <script>

       
        // Função para buscar o contador do servidor
        async function fetchContador() {
            try {
                const response = await fetch('/contador-pagamentos');
                const data = await response.json();
                document.getElementById('contador').innerText = data.contador;
            } catch (error) {
                console.error('Erro ao buscar contador:', error);
                document.getElementById('contador').innerText = 'Erro ao carregar o contador';
            }
        }

        // Chama a função ao carregar a página
        window.onload = fetchContador;
 
        document.getElementById("pagarBtn").addEventListener("click", function() {
            console.log("Botão de pagamento clicado"); // Verifica se o botão foi clicado
            
            const pagarBtn = document.getElementById("pagarBtn");
            pagarBtn.textContent = 'Processando...';
            await.delay(5000)
            pagarBtn.disabled = true;
            pagarBtn.classList.add('btn-carregando');
    
            // Envia uma requisição para criar o pagamento
            console.log("Enviando requisição para criar o pagamento...");
            fetch('http://localhost:3000/criar-pagamento', {
                method: 'POST'
            })
            .then(response => {
                console.log("Resposta recebida do servidor:", response); // Verifica a resposta do servidor
                return response.json();
            })
            .then(data => {
                console.log("Dados recebidos do servidor:", data); // Verifica o conteúdo de `data`
                if (data.payment_url) {
                    console.log("Abrindo ticket URL: ", data.payment_url); // Verifica a URL do ticket
                    window.open(data.payment_url, '_blank'); // Abre o link do Mercado Pago em uma nova aba
                } else {
                    console.error('Resposta inesperada: ' + JSON.stringify(data)); // Se não houver o link
                }
                pagarBtn.textContent = 'Pagar Agora';
                pagarBtn.disabled = false;
                pagarBtn.classList.remove('btn-carregando');
            })
            .catch(error => {
                console.error('Erro ao criar o pagamento:', error);
                const fallbackUrl = '';
                window.open(fallbackUrl, '_blank'); // Abre o link de fallback em caso de erro
                pagarBtn.textContent = 'processando...';
                pagarBtn.disabled = false;
                pagarBtn.classList.remove('btn-carregando');
            });
        });
    </script>

    
</body>
</html>
