/* Resetando margens e padding */
.nome {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e container principal */
.kilua {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha o conteúdo no centro verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    height: 100vh; /* 100% da altura da viewport */
    background-color: #f4f4f4;
    padding: 0 20px; /* Padding lateral */
}

/* Barra superior */
.barra-superior {
    background-color: #2e5e33; /* Verde */
    color: white;
    text-align: center;
    padding: 10px 0;
}

.barra-superior h2 {
    font-size: 20px;
}

/* Barra inferior */
.barra-inferior {
    background-color: #2e5e33; /* Verde */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Container central */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

/* Card */
.card {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px; /* Largura máxima do card */
    margin-bottom: 30px;
}

/* Título principal */
.puro {
    font-size: 22px;
    color: #2e5e33;
    margin-bottom: 20px;
}

/* Botões */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Menor espaçamento entre os botões */
}

.btn {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    transition: opacity 0.3s ease;
}

.conhece{
    font-size: 20px;
    padding-top: 10px
  
}

.convidado {
    background-color: #2e5e33;
    color: white;
}

.membro {
    background-color: #FF5722;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}

/* Estilos responsivos */
@media (max-width: 00px) {
    .puro {
        font-size: 18px;
    }

    .btn {
        font-size: 14px;
    }

    .barra-superior h2,
    .barra-inferior p {
        font-size: 14px;
    }
}
